


//头部菜单————————————————————————————————————————————————————————————




//左侧菜单————————————————————————————————————————————————————————————
/*左侧菜单背景颜色*/
$home_left_nav_bg: #3a3f51;
/*左侧二级菜单背景颜色*/
$home_left_nav_2_bg: #383d4e;
$home_left_nav_2_border:#3399ff;
/*左侧菜单字体颜色*/
$home_left_nav_color: #fff;
/*左侧菜单hover样式*/
$home_left_nav_hover_color: #fff;
$home_left_nav_hover_bg: #587398;
/*右侧背景主颜色*/
$home_page_content_bg: #fff;
