.el-dialog__header{
  padding: 15px 20px !important;
  border-bottom: 1px solid #eee;
}

.input-dialog{
  .el-dialog{
    
    width: 450px;
  }
  .el-row{
    padding: 10px 0; 
    &:hover{
      background: #f5f5f5;
    }
  }
  .el-form-item{
    margin-bottom: 0;
  }
  .title{
    padding-left: 27px;
    padding-bottom: 20px;
    display: inline-block;
  }
  .el-form-item__error{
    z-index: 1
  }
}

